@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@using SillyStringz.Models
@model SillyStringz.Models.Engineer

<h2 style="text-align: center;">Engineer Details:</h2>
<hr>
<div class="row">
  <div class="col-6">
    <h4><strong>Name: </strong>@Html.DisplayFor(model => model.Name)</h4>
  </div>
  <div class="col-3">
    <a href="/engineers/@Model.EngineerId/edit" class="btn btn-dark">Edit</a>
  </div>
  <div class="col-3">
    <a href="/engineers/@Model.EngineerId/delete" class="btn btn-danger">Delete</a>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
    @if (@Model.JoinEntities.Count == 0)
    {
      <p>This engineer is not licenced to fix any machines yet!</p>
    }
    else
    {
      <h6>This engineer is licensed to fix the following machines:</h6>
      <ul>
        @foreach (EngineerMachine join in Model.JoinEntities)
        {
          <li>@Html.ActionLink($"{@join.Machine.Name}", "Details", "Machines", new {id = @join.Machine.MachineId})</li>
        }
      </ul>
      <br>
    }
    <p>@Html.ActionLink("Add a machine!", "AddMachine", new { id = Model.EngineerId})</p>
  </div>
</div>