@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@using SillyStringz.Models
@model SillyStringz.Models.Machine

<h2 style="text-align: center;">Machine Details:</h2>
<hr>
<div class="row">
  <div class="col-6">
    <h4><strong>Name: </strong>@Html.DisplayFor(model => model.Name)</h4>
  </div>
  <div class="col-6">
    <a href="/machines/@Model.MachineId/edit" class="btn btn-dark">Edit</a>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
    @if (@Model.JoinEntities.Count == 0)
    {
      <p>This machine does not have any engineers that are licenced to fix it!</p>
    }
    else
    {
      <h4>This machine has the following engineers that are licenced to fix it:</h4>
      <ul>
        @foreach (EngineerMachine join in Model.JoinEntities)
        {
          <li>@Html.ActionLink($"{@join.Engineer.Name}", "Details", "Engineer", new {id = @join.Engineer.EngineerId})</li>
        }
      </ul>
      <br>
    }
    <p>@Html.ActionLink("Add an engineer!", "AddEngineer", new { id = Model.MachineId})</p>
  </div>
</div>